<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block t %}{% endblock %} &mdash; JOKey</title>
    <link rel="stylesheet" href="https://nispar2009.github.io/spectrum_stylr/General/Spectrum.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <script src="https://nispar2009.github.io/spectrum_stylr/Spectrum.js"></script>
</head>
<body>
    <header>
        <div class="nav-desktop bg-light">
            <a href="/" class="nav-desktop-link nav-desktop-item nav-desktop-brand">
                <!-- <img src="{{ url_for('static', filename='bigFavicon.png')}}" alt="icon" style="height: 25px; width: 25px;"> -->
                Home
            </a>
            <a href="/addJoke" class="nav-desktop-link nav-desktop-item">Add a Joke</a>
            <a href="/ratings" class="nav-desktop-link nav-desktop-item">Ratings</a>
            <a href="/blog" class="nav-desktop-link nav-desktop-item">Blog</a>
            <form action="/search" method="get" class="nav-desktop-item">
                <input type="text" name="q" id="q" class="form form-line">
                <button type="submit" class="btn btn-purple-outline btn-sm">Search</button>
                <br><br>
            </form>
        </div>
        <div class="nav-mobile">
            <a href="/" class="nav-mobile-brand">JOKey</a>
            <div class="nav-mobile-right">
                <button class="btn btn-blue" onclick="ShowContent()">...</button>
                <div class="nav-mobile-content" id="nav-mobile-content">
                    <a href="/addJoke" class="nav-mobile-link">Add a Joke</a>
                    <a href="/ratings" class="nav-mobile-link">Ratings</a>
                    <a href="/blog" class="nav-mobile-link">Blog</a>
                </div>
            </div>
        </div>
    </header>

    {% block b %}{% endblock %}
</body>
</html>