{% extends "base.html" %}

{% block t %}
Blog
{% endblock %}

{% block b %}

<div class="section-dark">
    <h1 class="text-purple text-center">Welcome to our blog!</h1>
</div>

{% if posts|length == 0 %}

<p>
    There are no existing blog posts. Please contact the admin to request for one.
</p>

{% else %}
<br><br>

<div class="card">
    <h2 class="text-purple">{{ post.title }}</h2>
    <button class="btn btn-purple-outline"><i class="material-icons-round">visibility</i></button>
</div>

{% endif %}

{% endblock %}