{% extends "base.html" %}

{% block t %}
Ratings
{% endblock %}

{% block b %}


<div class="section-dark">
    <h1 class="text-blue text-center">Add rating</h1>
</div>
<br>
<form action="/ratings" method="post" class="text-center">
    <input type="text" name="user" id="user" placeholder="Username..." class="form form-line" required>
    <br><br>
    <textarea name="fb" id="fb" placeholder="Feedback..." class="form form-line" required></textarea>
    <br><br>
    <label for="stars">Stars:</label>
    <select name="stars" id="stars" class="form form-line">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <br><br>
    <div class="section-dark">
        <button type="submit" class="btn btn-blue-outline btn-submit">Add</button>
    </div>
</form>
<br>
{% if ratings|length == 0 %}

<p>There are no ratings. Add one above!</p>

{% else %}

{% for rating in ratings %}

<div class="section-light">
    <i class="text-blue">{{ rating.username }}</i>
    says 
    "<i class="text-blue">{{ rating.feedback }}</i>"
    and gives JOKey
    <i class="text-blue">{{ rating.stars }}</i>
    stars.
</div>
<br>

{% endfor %}

{% endif %}

{% endblock %}