{% extends "base.html" %}

{% block t %}
Ratings
{% endblock %}

{% block b %}


<div class="section-dark">
    <h1 class="text-blue text-center">Add rating</h1>
</div>
<br>
<input type="text" name="user" id="user" placeholder="Username..." class="form form-line" required>
<br><br>
<textarea name="fb" id="fb" placeholder="Feedback..." class="form form-line" required></textarea>
<br><br>

<span class="material-icons-round star" onclick="Go(1)" id="s1">star_rate</span>
<span class="material-icons-round star" onclick="Go(2)" id="s2">star_rate</span>
<span class="material-icons-round star" onclick="Go(3)" id="s3">star_rate</span>
<span class="material-icons-round star" onclick="Go(4)" id="s4">star_rate</span>
<span class="material-icons-round star" onclick="Go(5)" id="s5">star_rate</span>


<br>

<p>
    Avg. star rating:
    <span style="color: gold;">{{ avg }}</span>
    {% for unUsed in range(avg) %}
    <span class="material-icons-round star-active">star_rate</span>
    {% endfor %}
</p>

<br>
{% if ratings|length == 0 %}

<p>There are no ratings. Add one above!</p>

{% else %}

{% for rating in ratings %}

<div class="section-light">
    <i class="text-blue">{{ rating.username }}</i>
    says
    "<i class="text-blue">{{ rating.feedback }}</i>"
    and gives JOKey
    {% for unUsed in range(int(rating.stars)) %}
    <span class="material-icons-round star-active">star_rate</span>
    {% endfor %}
</div>
<br>

{% endfor %}

{% endif %}

<script>
    function Go(num) {
        redirect('/addRating/s' + num + '/u' + document.getElementById('user').value + '/f' + document.getElementById('fb').value)
    }
</script>

{% endblock %}