{% extends "base.html" %}

{% block t %}
Ratings
{% endblock %}

{% block b %}

<form action="" method="post">

    <div class="section-dark">
        <h1 class="text-blue text-center">Add rating</h1>
    </div>
    <br>
    <input type="text" name="user" id="user" placeholder="Username..." class="form form-line">
    <br><br>
    <textarea name="fb" id="fb" placeholder="Feedback..." class="form form-line"></textarea>
    <br><br>

    <button type="submit" formaction="/addRating1" class="btn-none"><span
            class="material-icons-round">star_rate</span></button type="submit" formaction="/addRating">
    <button type="submit" formaction="/addRating2" class="btn-none"><span
            class="material-icons-round">star_rate</span></button type="submit" formaction="/addRating">
    <button type="submit" formaction="/addRating3" class="btn-none"><span
            class="material-icons-round">star_rate</span></button type="submit" formaction="/addRating">
    <button type="submit" formaction="/addRating4" class="btn-none"><span
            class="material-icons-round">star_rate</span></button type="submit" formaction="/addRating">
    <button type="submit" formaction="/addRating5" class="btn-none"><span
            class="material-icons-round">star_rate</span></button>

</form>

<br>

<p>
    Avg. star rating:
    <span style="color: gold;">{{ avg }}</span>
    {% for unUsed in range(avg) %}
    <span class="material-icons-round star-active">star_rate</span>
    {% endfor %}
</p>

<br>
{% if ratings|length == 0 %}

<p>There are no ratings. Add one above!</p>

{% else %}

{% for rating in ratings %}

<div class="section-light">
    <i class="text-blue">{{ rating.username }}</i>
    says
    "<i class="text-blue">{{ rating.feedback }}</i>"
    and gives JOKey
    {% for unUsed in range(int(rating.stars)) %}
    <span class="material-icons-round star-active">star_rate</span>
    {% endfor %}
</div>
<br>

{% endfor %}

{% endif %}

{% endblock %}